@font-face {
    font-family: "bumbasti";
    src: url("../fonts/BUMBASTI.TTF");
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
}

/* Header */
header{
    height: 100px;
    width: 100vw;
    position: fixed;
    z-index: 5;
}

header nav{
    display: flex;
    gap: 2rem;
}

header nav button{
    height: 50px;
    width: 100px;
}

/*  */
#background-image{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

#logo{
    position: absolute;
    z-index: 3;
    height: 75%;
    top: 10%;
    left: 10%;
}

#home-title{
    font-family: "bumbasti";
    font-size: 100px;
    color: white;
    -webkit-text-stroke: 6px black;
    position: absolute;
    z-index: 3;
    top: 40%;
    right: 10%;
}

#backdrop{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 2;
    opacity: 70%;
}

#menu-list{
    position: absolute;
    height: 500px;
    z-index: 10000;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 30px;
    padding: 50px;
}

#mission-statement{
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;

    font-size: 50px;
    padding: 50px;
    border-radius: 50px;
    border-width: 10px;
    border-color: black;
    box-shadow: inset;
}